@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffe2a3;
    overflow: hidden;
    z-index: -1;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 15;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #b5acff;
    top: 60%;
    left: 56%;
    animation-duration: 54s;
    animation-delay: -80s;
    transform-origin: 22vw -23vh;
    box-shadow: 100vmin 0 13.321594026357285vmin currentColor;
}
.background span:nth-child(1) {
    color: #ff6600;
    top: 22%;
    left: 79%;
    animation-duration: 148s;
    animation-delay: -100s;
    transform-origin: -20vw 18vh;
    box-shadow: 100vmin 0 13.390854378777409vmin currentColor;
}
.background span:nth-child(2) {
    color: #b5acff;
    top: 25%;
    left: 31%;
    animation-duration: 38s;
    animation-delay: -298s;
    transform-origin: 6vw -8vh;
    box-shadow: 100vmin 0 13.218705474724237vmin currentColor;
}
.background span:nth-child(3) {
    color: #2bff00;
    top: 98%;
    left: 32%;
    animation-duration: 15s;
    animation-delay: -170s;
    transform-origin: 5vw 8vh;
    box-shadow: 100vmin 0 13.062575535836627vmin currentColor;
}
.background span:nth-child(4) {
    color: #b5acff;
    top: 36%;
    left: 89%;
    animation-duration: 122s;
    animation-delay: -238s;
    transform-origin: 6vw -20vh;
    box-shadow: 100vmin 0 12.556597056872347vmin currentColor;
}
.background span:nth-child(5) {
    color: #b5acff;
    top: 62%;
    left: 77%;
    animation-duration: 12s;
    animation-delay: -279s;
    transform-origin: -9vw 6vh;
    box-shadow: -100vmin 0 12.671503770790611vmin currentColor;
}
.background span:nth-child(6) {
    color: #ff6600;
    top: 77%;
    left: 89%;
    animation-duration: 245s;
    animation-delay: -277s;
    transform-origin: 21vw 8vh;
    box-shadow: 100vmin 0 13.392604667743079vmin currentColor;
}
.background span:nth-child(7) {
    color: #b5acff;
    top: 44%;
    left: 89%;
    animation-duration: 77s;
    animation-delay: -16s;
    transform-origin: 10vw 24vh;
    box-shadow: -100vmin 0 13.014463994671658vmin currentColor;
}
.background span:nth-child(8) {
    color: #2bff00;
    top: 5%;
    left: 64%;
    animation-duration: 81s;
    animation-delay: -142s;
    transform-origin: -14vw -19vh;
    box-shadow: 100vmin 0 13.10980530898405vmin currentColor;
}
.background span:nth-child(9) {
    color: #b5acff;
    top: 94%;
    left: 22%;
    animation-duration: 107s;
    animation-delay: -253s;
    transform-origin: -22vw -19vh;
    box-shadow: 100vmin 0 13.037899685536305vmin currentColor;
}
.background span:nth-child(10) {
    color: #b5acff;
    top: 61%;
    left: 10%;
    animation-duration: 247s;
    animation-delay: -27s;
    transform-origin: 16vw 22vh;
    box-shadow: 100vmin 0 12.919421708817318vmin currentColor;
}
.background span:nth-child(11) {
    color: #2bff00;
    top: 8%;
    left: 6%;
    animation-duration: 237s;
    animation-delay: -13s;
    transform-origin: -3vw -6vh;
    box-shadow: -100vmin 0 13.496301030796545vmin currentColor;
}
.background span:nth-child(12) {
    color: #b5acff;
    top: 12%;
    left: 26%;
    animation-duration: 141s;
    animation-delay: -175s;
    transform-origin: 13vw -20vh;
    box-shadow: -100vmin 0 12.61909339367598vmin currentColor;
}
.background span:nth-child(13) {
    color: #b5acff;
    top: 55%;
    left: 55%;
    animation-duration: 247s;
    animation-delay: -269s;
    transform-origin: -13vw 17vh;
    box-shadow: 100vmin 0 12.557315215798896vmin currentColor;
}
.background span:nth-child(14) {
    color: #ff6600;
    top: 6%;
    left: 46%;
    animation-duration: 334s;
    animation-delay: -121s;
    transform-origin: 18vw 5vh;
    box-shadow: -100vmin 0 12.787153961224847vmin currentColor;
}
.background span:nth-child(15) {
    color: #ff6600;
    top: 49%;
    left: 35%;
    animation-duration: 37s;
    animation-delay: -64s;
    transform-origin: -6vw 13vh;
    box-shadow: -100vmin 0 13.111396132149535vmin currentColor;
}
.background span:nth-child(16) {
    color: #2bff00;
    top: 61%;
    left: 90%;
    animation-duration: 114s;
    animation-delay: -206s;
    transform-origin: 24vw -17vh;
    box-shadow: -100vmin 0 13.13418394162431vmin currentColor;
}
.background span:nth-child(17) {
    color: #ff6600;
    top: 17%;
    left: 95%;
    animation-duration: 307s;
    animation-delay: -7s;
    transform-origin: 10vw -11vh;
    box-shadow: -100vmin 0 13.232098020109557vmin currentColor;
}
.background span:nth-child(18) {
    color: #b5acff;
    top: 89%;
    left: 20%;
    animation-duration: 294s;
    animation-delay: -225s;
    transform-origin: -12vw -21vh;
    box-shadow: 100vmin 0 13.256948660999795vmin currentColor;
}
.background span:nth-child(19) {
    color: #b5acff;
    top: 98%;
    left: 38%;
    animation-duration: 259s;
    animation-delay: -176s;
    transform-origin: 1vw 6vh;
    box-shadow: 100vmin 0 12.900754150174448vmin currentColor;
}
